.font-size-option {
    padding: 3px;
}

.font-size-option:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.font-size-menu {
    display: inline-block;
    position: absolute;
    top: 3px;
    background: #FFFFFF;
    box-shadow: 0 0 2px;
}

.font-size-dropdown {
    display: inline-block;
}