#root {
  background: #4A4A4A;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
}

.text-editor {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 8in;
  background-color: #FFFFFF;
}